

  body .ul{
    font-size: 18px;
  }

  .navbar-nav .nav-link:hover {
    color: blue;
  }


  about-img{
    margin-left: -100px;
    right: -60px;
   }
   
   .display-1{
     font-size: 160px;
     font-weight: 1000;
   
   }
   
  
   .typed-cursor {
     font-size: 45px;
     color: #ffffff;
   }
   
   .blue{
     background-color: #1c5ce6;
     color: #ffffff;
   }
   .btn{
     border: 2px solid rgb(29, 105, 247);
   } 
   .btn-white{
     background-color: #ffffff;
     border:2px solid #ffffff;
   }
   .btn-blue{
     border: 2.4px solid #ffffff;
     color: #ffffff;
   }
   @media (max-width: 700px) {
     .about-img{
       margin-left: 20px;
       right: 0px;
       top: 30px;
      }
   }